<!DOCTYPE html>
<html class="with-effects">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="/img/favicon.webp" />
    <meta name="theme-color" content="black">
    <title>The Long Journey | FOnline Roleplay</title>
    <meta name="description" content="FOnline Roleplaying Community Project">
    <meta name="keywords" content="fonline,roleplay,rpg,online,heavy rp,heavy roleplay,immersion,mod">
    <link rel="stylesheet" href="/assets/app.css" type="text/css">
    {% import "elements.twig" as elements %}
</head>
<body>
    <section class="tool">
        {{ elements.SliderElement(layout, {id: 'features', 'track_class': 'splide__track--main', 'splide__class': 'splide--main'}) }}
        <!--
        <div id="features" class="splide">
            <div class='splide__before-pagination'>
                <div class='splide__logo'></div>
                <div class='splide__header'>{{headers.features}}</div>
            </div>
            <div class='splide__after-pagination'>
                <div class='splide__header'>{{headers.links}}</div>
                    <div class='splide__button-grid'>
                    {% for link in sections.links %}
                    <a href="{{link.url}}" class='btn btn--with-dot' target='_blank'>
                        <div class='btn--transparent'>
                            <div class='btn__header'>
                                <div class="title">{{link.title}}</div>{#<img class="icon" src="/assets/icons/journal.png">#}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    </div>
            </div>
            <div class="splide__track fo-display">
                <ul class="splide__list">
                    {% for feature in sections.features %}
                    <li 
                        class="splide__slide {% if feature.youtube_video %}splide__slide--video{% endif %} {% if  feature.description %}splide__slide--description{% endif %}" 
                         {% if feature.youtube_video %} data-url="https://www.youtube.com/embed/{{feature.youtube_video}}?controls=0{% if  feature.description %}&amp;autoplay=1{% endif %}" {% endif %}
                        data-title="{{feature.title}}" 
                        data-icon="{{feature.icon}}"
                        style="background: url({{ feature.image }})"
                    >
                        {% if  feature.description %}
                        <div class="splide__screen">
                            {% if feature.show_title != false %}
                            <div class="splide__screen__title">{{ feature.title }}</div>
                            {% endif %}
                            <div class="splide__screen__description">{{ feature.description|raw }}</div>
                        </div>
                        {% endif %}
                        <iframe {% if  feature.description %}style="visibility:hidden"{% else %}src='https://www.youtube.com/embed/{{feature.youtube_video}}?controls=0'{% endif %} width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            -->
    </section>
    <script src="/assets/bundle.js"></script>
</body>
</html>

